.estrofa-amarilla{
    color: yellow;
    text-align: center;
}
.estrofa-azul{
    color: blue;
    text-align: center;
}
.estrofa-roja{
    color: red;
    text-align: center;
}
.titulo{
    color: blue;
    background-color: aqua;
    text-align: center;
}