.estrofa-amarilla{
    color: yellow;
    text-align: center;
}
.estrofa-azul{
    color: blue;
    text-align: center;
}
.estrofa-roja{
    color: red;
    text-align: center;
}
.titulo{
    color: white;
    text-align: center;
}
.fondo{
    background-color: black;
}

.barra{
    color: white;
    display: inline-flex;

}