
h1{
    text-align: center; /* este es para alinear */
    text-transform: capitalize; /* este es para transformar */
    color: rgb(226, 223, 21); /* Este le da color a la fuente */
}

.titulo{
    color: blue;
    background-color: aqua;
}

.frase{
    color: green;
    background-color: pink;
}

.seccion{
    background-color: blueviolet;
}